<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Time Display Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Local Time Display Page</h1>
    <br />
    <br />
    <form method="GET", action="/disply_local_time">
        <button type="button" id="DisplayTime">CLICK ME!</button>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>